[submodule "mini-projects"]
	path = mini-projects
	url = https://github.com/devilpanks/mini-projects.git
[submodule "cp"]
	path = cp
	url = https://github.com/devilpanks/cp.git
[submodule "emacs_settings/rtags"]
	path = emacs_settings/rtags
	url = https://github.com/Andersbakken/rtags.git
